In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
movies_csv=pd.read_csv('movies.csv',encoding='latin1')
credits_csv=pd.read_csv('credits.csv',encoding='latin1')

In [3]:
movies_csv.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,Unnamed: 20
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800.0,NaN
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500.0,NaN
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bonds past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466.0,NaN
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31295,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106.0,NaN
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,7/3/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124.0,NaN

In [4]:
credits_csv.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
merge_dataset = movies_csv.merge(credits_csv, on="title")

In [6]:
merge_dataset = merge_dataset[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [7]:
merge_dataset.isna().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [8]:
merge_dataset.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bonds past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
merge_dataset.dropna(inplace=True)

In [10]:
len(merge_dataset)

4799

In [11]:
def convert(obj):
    l = []
    for row in ast.literal_eval(obj):
        l.append(row['name'])
    return l

In [12]:
def get_cast_names(obj):
    l = []
    for row in ast.literal_eval(obj):
        for i in range(5):
            l.append(row['name'])
    return l

In [13]:
def get_crew_directors(obj):
    l = []
    for row in ast.literal_eval(obj):
        if row["job"] == "Director":
            l.append(row['name'])
    return l

In [14]:
merge_dataset['cast'] = merge_dataset['cast'].apply(get_cast_names)

In [15]:
merge_dataset['crew'] = merge_dataset['crew'].apply(get_crew_directors)

In [16]:
merge_dataset.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Sam Worthington, Sam Worthin...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Johnny Depp, Johnny Depp, Johnny...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bonds past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Daniel Craig, Daniel Craig, Dan...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Christian Bale, Christian Bal...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Taylor Kitsch, Taylor Kitsch, ...",[Andrew Stanton]

In [17]:
merge_dataset['overview'] = merge_dataset['overview'].apply(lambda x: x.split())

In [18]:
merge_dataset['cast'] = merge_dataset['cast'].apply(lambda x: [i.replace(" ", "") for i in x])

In [19]:
merge_dataset['crew'] = merge_dataset['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [21]:
merge_dataset['keywords'] = merge_dataset['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])

In [22]:
merge_dataset['genres'] = merge_dataset['genres'].apply(lambda x: [i.replace(" ", "") for i in x])

In [20]:
merge_dataset['genres'] = merge_dataset['genres'].apply(convert)
merge_dataset['keywords'] = merge_dataset['keywords'].apply(convert)
merge_dataset.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[SamWorthington, SamWorthington, SamWorthingto...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[JohnnyDepp, JohnnyDepp, JohnnyDepp, JohnnyDep...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bonds, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[DanielCraig, DanielCraig, DanielCraig, Daniel...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[ChristianBale, ChristianBale, ChristianBale, ...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[TaylorKitsch, TaylorKitsch, TaylorKitsch, Tay...",[AndrewStanton]

In [23]:
merge_dataset['all_infos'] = merge_dataset['overview']+merge_dataset['genres']+merge_dataset['keywords']+merge_dataset['cast']+merge_dataset['crew']

In [24]:
new_dataset=merge_dataset[["movie_id", "title", "all_infos"]]
new_dataset

,movie_id,title,all_infos
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bonds, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4797,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4798,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4799,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4800,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4801,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words="english")

In [26]:
new_dataset['all_infos'] = new_dataset['all_infos'].apply(lambda x:' '.join(x))

C:\Users\Ofogh\AppData\Local\Temp\ipykernel_9776\2563287257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['all_infos'] = new_dataset['all_infos'].apply(lambda x:' '.join(x))

In [27]:
cv.fit_transform(new_dataset['all_infos']).toarray().shape

(4799, 5000)

In [28]:
vectors = cv.fit_transform(new_dataset['all_infos']).toarray()

In [29]:
from nltk.stem.porter import PorterStemmer

In [30]:
porter = PorterStemmer()

In [31]:
def clean_sentence(text):
    y = []
    for i in text.split():
        y.append(porter.stem(i))
    return " ".join(y)

In [32]:
new_dataset['all_infos'] = new_dataset['all_infos'].apply(clean_sentence)

C:\Users\Ofogh\AppData\Local\Temp\ipykernel_9776\112784303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['all_infos'] = new_dataset['all_infos'].apply(clean_sentence)

In [33]:
new_dataset["all_infos"][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington samworthington samworthington samworthington samworthington zoesaldana zoesaldana zoesaldana zoesaldana zoesaldana sigourneyweav sigourneyweav sigourneyweav sigourneyweav sigourneyweav stephenlang stephenlang stephenlang stephenlang stephenlang michellerodriguez michellerodriguez michellerodriguez michellerodriguez michellerodriguez giovanniribisi giovanniribisi giovanniribisi giovanniribisi giovanniribisi joeldavidmoor joeldavidmoor joeldavidmoor joeldavidmoor joeldavidmoor cchpounder cchpounder cchpounder cchpounder cchpounder wesstudi wesstudi wesstudi wesstudi wesstudi lazalonso lazalonso lazalonso lazalonso lazalonso dileeprao dileeprao dileeprao dileeprao dileeprao mattgerald mattgerald mattgerald mattgerald mattgerald seananthonymoran seananthonymoran seananthonymoran seananthonymoran seananthonymoran jasonwhyt jasonwhyt jasonwhyt jasonwhyt jasonwhyt scottlawr scottlawr scottlawr scottlawr scottlawr kellykilgour kellykilgour kellykilgour kellykilgour kellykilgour jamespatrickpitt jamespatrickpitt jamespatrickpitt jamespatrickpitt jamespatrickpitt seanpatrickmurphi seanpatrickmurphi seanpatrickmurphi seanpatrickmurphi seanpatrickmurphi peterdillon peterdillon peterdillon peterdillon peterdillon kevindorman kevindorman kevindorman kevindorman kevindorman kelsonhenderson kelsonhenderson kelsonhenderson kelsonhenderson kelsonhenderson davidvanhorn davidvanhorn davidvanhorn davidvanhorn davidvanhorn jacobtomuri jacobtomuri jacobtomuri jacobtomuri jacobtomuri michaelblain-rozgay michaelblain-rozgay michaelblain-rozgay michaelblain-rozgay michaelblain-rozgay joncurri joncurri joncurri joncurri joncurri lukehawk lukehawk lukehawk lukehawk lukehawk woodyschultz woodyschultz woodyschultz woodyschultz woodyschultz petermensah petermensah petermensah petermensah petermensah soniaye soniaye soniaye soniaye soniaye jahnelcurfman jahnelcurfman jahnelcurfman jahnelcurfman jahnelcurfman ilramchoi ilramchoi ilramchoi ilramchoi ilramchoi kylawarren kylawarren kylawarren kylawarren kylawarren lisaroumain lisaroumain lisaroumain lisaroumain lisaroumain debrawilson debrawilson debrawilson debrawilson debrawilson chrismala chrismala chrismala chrismala chrismala taylorkibbi taylorkibbi taylorkibbi taylorkibbi taylorkibbi jodielandau jodielandau jodielandau jodielandau jodielandau julielamm julielamm julielamm julielamm julielamm cullenb.madden cullenb.madden cullenb.madden cullenb.madden cullenb.madden josephbradymadden josephbradymadden josephbradymadden josephbradymadden josephbradymadden frankietorr frankietorr frankietorr frankietorr frankietorr austinwilson austinwilson austinwilson austinwilson austinwilson sarawilson sarawilson sarawilson sarawilson sarawilson tamicawashington-mil tamicawashington-mil tamicawashington-mil tamicawashington-mil tamicawashington-mil lucybri lucybri lucybri lucybri lucybri nathanmeist nathanmeist nathanmeist nathanmeist nathanmeist gerryblair gerryblair gerryblair gerryblair gerryblair matthewchamberlain matthewchamberlain matthewchamberlain matthewchamberlain matthewchamberlain paulyat paulyat paulyat paulyat paulyat wraywilson wraywilson wraywilson wraywilson wraywilson jamesgaylyn jamesgaylyn jamesgaylyn jamesgaylyn jamesgaylyn melvinlenoclarkiii melvinlenoclarkiii melvinlenoclarkiii melvinlenoclarkiii melvinlenoclarkiii carvonfutrel carvonfutrel carvonfutrel carvonfutrel carvonfutrel brandonjelk brandonjelk brandonjelk brandonjelk brandonjelk micahmoch micahmoch micahmoch micahmoch micahmoch hanniyahmuhammad hanniyahmuhammad hanniyahmuhammad hanniyahmuhammad hanniyahmuhammad christophernolen christophernolen christophernolen christophernolen christophernolen christaoliv christaoliv christaoliv christaoliv christaoliv aprilmariethoma aprilmariethoma aprilmariethoma aprilmariethoma aprilmariethoma bravitaa.threatt bravitaa.threatt bravitaa.threatt bravitaa.threatt bravitaa.threatt colinbleasdal colinbleasdal colinbleasdal colinbleasdal colinbleasdal mikebodnar mikebodnar mikebodnar mikebodnar mikebodnar mattclayton mattclayton mattclayton mattclayton mattclayton nicoledionn nicoledionn nicoledionn nicoledionn nicoledionn jamieharrison jamieharrison jamieharrison jamieharrison jamieharrison allanhenri allanhenri allanhenri allanhenri allanhenri anthonyingrub anthonyingrub anthonyingrub anthonyingrub anthonyingrub ashleyjefferi ashleyjefferi ashleyjefferi ashleyjefferi ashleyjefferi deanknowsley deanknowsley deanknowsley deanknowsley deanknowsley josephmika-hunt josephmika-hunt josephmika-hunt josephmika-hunt josephmika-hunt terrynotari terrynotari terrynotari terrynotari terrynotari kaipantano kaipantano kaipantano kaipantano kaipantano loganpithy loganpithy loganpithy loganpithy loganpithy stuartpollock stuartpollock stuartpollock stuartpollock stuartpollock raja raja raja raja raja garethruck garethruck garethruck garethruck garethruck rhiansheehan rhiansheehan rhiansheehan rhiansheehan rhiansheehan t.j.storm t.j.storm t.j.storm t.j.storm t.j.storm jodietaylor jodietaylor jodietaylor jodietaylor jodietaylor aliciavela-bailey aliciavela-bailey aliciavela-bailey aliciavela-bailey aliciavela-bailey richardwhitesid richardwhitesid richardwhitesid richardwhitesid richardwhitesid nikiezambo nikiezambo nikiezambo nikiezambo nikiezambo julenerene julenerene julenerene julenerene julenerene jamescameron'

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)

In [36]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])[1:6]

[(1830, 0.14049690603659382),
 (3836, 0.13710212427677043),
 (2353, 0.13245323570650436),
 (1609, 0.12478570856212504),
 (2230, 0.12437486704108436)]

In [37]:
new_dataset

,movie_id,title,all_infos
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4797,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4798,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4799,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4800,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4801,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [38]:
def recommend(movie):
    movie_index = new_dataset[new_dataset['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_sort = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    for i in movie_sort:
        print(new_dataset.iloc[i[0]].title)

In [39]:
recommend("Superman Returns")

Beyond the Sea
On the Waterfront
Straw Dogs
21
The Box

In [40]:
recommend("Iron Man")

Iron Man 2
Iron Man 3
The Avengers
Thor
Avengers: Age of Ultron

In [45]:
recommend("Avatar")

Cloverfield
Frenzy
Center Stage
The Cabin in the Woods
Battle of the Year